.chooseDesign {
  margin-bottom: 112px;
}

.chooseDesign__container {
  display: flex;
  justify-content: space-between;
}

.chooseDesign__title {
  color: #1C1C1E;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 36px;
  width: 622px;
}

.chooseDesign__item {
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-columns: auto auto;
}