@import "_variables.scss";
@import "_mixins.scss";

.chooseDesign {
    margin-bottom: 112px;
}

.chooseDesign__container {
    @include flexJustify(space-between);
}

.chooseDesign__title {
    @include fonts($title-lightBlack, 48px, 700, 50px);
    margin-bottom: 36px;
    width: 622px;
}

.chooseDesign__item {
    @include gridRowColumn(16px, 16px);
    grid-template-columns: auto auto;
}