@import "_variables.scss";
@import "_mixins.scss";

.header {
    @include flexJustify(space-between);
    padding: 7px 0;
    align-items: center;
}

.logo {
    cursor: pointer;
    p {
        @include fonts($logo-pink, 24px, 700, 112%);
        letter-spacing: 0.48px;
    }
}

.navigation ul {
    display: flex;
    list-style: none;
    column-gap: 40px;
    & .navigation__item a {
        @include fonts($text-gray2, 16px, 700, 112%);
        letter-spacing: 0.32px;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 920px) {
    .header {
        flex-wrap: wrap;
        row-gap: 10px;
    }
    .navigation ul {
        column-gap: 20px;
    }
}
