.chooseDesign {
  margin-bottom: 112px;
}

.chooseDesign__container {
  display: flex;
  justify-content: space-between;
}

.chooseDesign__title {
  color: #1C1C1E;
  font-size: 48px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 36px;
  max-width: 622px;
}

.chooseDesign__item {
  display: grid;
  row-gap: 16px;
  column-gap: 16px;
  grid-template-columns: auto auto;
}

@media (max-width: 920px) {
  .chooseDesign {
    margin-bottom: 48px;
  }
  .chooseDesign__container {
    flex-direction: column;
  }
  .chooseDesign__item {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .chooseDesign__title {
    width: auto;
    font-size: 40px;
  }
}
@media (max-width: 500px) {
  .chooseDesign__item img {
    max-width: 180px;
  }
  .chooseDesign__title {
    font-size: 30px;
  }
}